
.no-pointer-events {
  pointer-events: none;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
  border-radius: 20px;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    #F54340
  );
}

.h3{
  color:#fff !important;
}

